
name: Publish Gradle Plugin to Plugin Portal
on:
  release:
    types: [created]

jobs:
  check-release:
    name: Reuse check release
    uses: ./.github/workflows/check_release.yml
  build:
    name: Reuse build
    uses: ./.github/workflows/build.yml
  publish:
    needs:
      - build
      - check-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java for publishing to Gradle Plugin Portal
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Publish plugin to Gradle Plugin Portal
        run: ./gradlew publishPlugins
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
